.App {
  text-align: center;
  padding: 2vw;
  border: 3px solid #ffffff;
  border-radius: 6vw 0 6vw 0;
  background-color: #0b0a0a;
  color: #fff;
}

.App h1 {
  font-size: 12vw;
  color: #c40d0d;
  text-shadow: #f0caca 4px 4px 1px;
  padding: 1vw;
  margin: 0;
}

.metal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 1vw;
}