form {
    padding: 6vw 0 0 0;
}

form label {
    display: none;
}

form input {
    background: rgb(255, 255, 255);
    width: 30vw;
    height: 4vw;
    text-align: center;
    border: 0px;
    vertical-align: top;
}

.button {
    height: 4vw;
    width: 20%;
    padding: 10px;
    background: #e41111;
    color: white;
    font-size: 17px;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border: 0px;
    vertical-align: top;
}
